.link {
    text-decoration: none;
    color: #404bbf;
}
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
.container{
    width: 1158px;
    justify-content: center;

}
body {
    font-family: Roboto, sans-serif;
    color: #434455;
}
.menu-line{
    display: flex;
}
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase; 
}
.email{
    color: #434455;
}
.email:hover{
    color: #404bbf;
}
.email:focus{
    color: #404bbf;
}
.menu {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menu:hover{
    color: #404bbf;
}
.menu:focus{
    color: #404bbf; 
}
.logo-color-stud{
    color: #2e2f42;
}
.sait-menu {
    display: flex;
    margin-left: 76px;
}
.sait-menu .item + .item {
    margin-left: 40px;
}
/*--.sait-menu .link{
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
}--*/
.sait-cont{
    display: flex;
}
.sait-cont .item + .item {
    margin-left: 66px;
}
.allmenu{
    margin-top: 24px;
    margin-bottom: 24px;
}
.caption {
    background-color:#2e2f42;
    margin-bottom: 92px;
}
.caption-lable {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}.captio-but{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.captio-but:hover{
    color: #404BBF;
}
.captio-but:focus{
    color: #404BBF;
}
/*--------------------------SECTION-2----------------------*/
.list-skills{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.list-skills-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.list-skills-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.skills-line{
    display: flex;
}
.skills-line .item + .item{
    margin-left: 24px;
}
.imeg-line{
    display: flex;
}
.imeg-line .item + .item{
    margin-left: 24px;
}
/*--------------------------SECTION-4----------------------*/
.list-do-h{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 74px;
}
.list-do{
    margin-bottom: 120px;
}
.photo-line{
    display: flex;
}
.photo-line .item + .item{
    margin-left: 24px;
}

.caption-end{
    background-color: #F4F4FD;
}
.caption-end-l{
    background-color: #FFFFFF;

}
.end{
    background-color:#2e2f42;
}
.list{
    font-style:normal;
    list-style:none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 117px;
    
}
.logo-color-end{
    color: #f4f4fd;
}

.contacts{
    font-style: normal;
    list-style: none;
    margin-left: 332px;
}
 /*-------------------DUTTON-------------------  */
.titls-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;

}
.titls-button:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}
.titls-button:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}
.button-line{
    display: flex;
}
.button-line .btn + .btn{
    margin-left: 24px;
}
